html,
body {
  height: 100%;
}

.main-padding-top {
  padding-top: 6rem;
}

// Font, headers
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

$headings-font-family: 'Oswald';
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase !important;
}

// Card;
$card-bg: var(--bs-light);
$card-inner-border-radius: 1rem;
$card-border-radius: 1rem;

.fi-bigger-card-title {
  font-size: 2rem !important;
  margin-bottom: 1rem !important;
}

.bi {
  display: inline-block;
  vertical-align: -0.125em;
  margin: 0 0.5em;
}

// Modal
$modal-header-border-width: 0px;
$modal-footer-border-width: 0px;
$modal-content-border-radius: 1rem;
.btn-close {
  margin-bottom: 0.25rem !important;
}

// .form-control {
//     background-color: var(--bs-light) !important;
// }

// .form-control:focus {
//     background-color: var(--bs-light) !important;
// }

.fi-card-title-font-size {
  font-size: 1.5rem !important;
}

@import '~bootstrap/scss/bootstrap.scss';
