/* Flixit stylesheet */
// Font, headers
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

$headings-font-family: 'Oswald';
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase !important;
}

// Card;
$card-bg: var(--bs-light);
$card-inner-border-radius: 0.5rem;
$card-border-radius: 0.5rem;
$card-border-width: 0px;

.card {
  overflow: hidden;
}

.form-card-width {
  width: 100%;
  max-width: 28rem;
}

// Icons
.bi {
  display: inline-block;
  vertical-align: -0.125em;
  margin: 0 0.5em;
}

// Modal
$modal-header-border-width: 0px;
$modal-footer-border-width: 0px;
$modal-content-border-radius: 1rem;
.btn-close {
  margin-bottom: 0.25rem !important;
}

// Navbar
$navbar-dark-toggler-border-color: #f8f9fa;

#search {
  border-width: 2px 0px 2px 2px;
  border-color: #212529;
  box-shadow: none;
}

#search:focus {
  border-width: 2px 0px 2px 2px;
  border-color: #86b7fe;
  box-shadow: none;
}

#search-button {
  --bs-btn-active-color: #212529;
  --bs-btn-hover-color: #212529;
  border-color: #212529 !important;
  border-width: 2px 2px 2px 0px !important;
}

#search:focus + #search-button {
  border-width: 2px 2px 2px 0px !important;
  border-color: #86b7fe !important;
  border-left: 0px !important;
}

#collapsible-nav-dropdown {
  padding: 0.5rem !important;
}

// Carousel
.carousel-item img {
  width: 100%; /* Set the width to take up the full width of the carousel */
  height: 400px; /* Set a fixed height */
  object-fit: contain; /* Resize the image to fit within the width and height while maintaining aspect ratio */
  background-color: black; /* Set a black background to fill in any space around the image */
}

// Thumbnails Gallery
.thumbnails-gallery {
  background-color: black;
  position: relative;
  width: 100%;

  .thumbnails-gallery-reel {
    min-width: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    &.centered {
      justify-content: center;
    }
  }

  .thumbnail {
    cursor: pointer;
    margin: 6px 3px;
    height: 100px;
    flex: 0 0 auto;
    &.active-thumbnail {
      border: 2px solid white;
    }
  }
}

@import '~bootstrap/scss/bootstrap.scss';

// Customize Bootstrap classes
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  background-color: rgba(0, 0, 0, 0.4);
}

// Create aliases for Bootstrap classes
.gallery-control-prev {
  @extend .carousel-control-prev;
}

.gallery-control-next {
  @extend .carousel-control-next;
}

.hidden {
  opacity: 0;
  &:hover {
    opacity: 0;
  }
}

.gallery-control-prev-icon {
  @extend .carousel-control-prev-icon;
}

.gallery-control-next-icon {
  @extend .carousel-control-next-icon;
}
